body {
    font-family: Arial, sans-serif; /* использование стандартного шрифта Arial или аналогичного без засечек */
    margin-left: 2rem;
}

h1 {
    font-size: 22pt; /* установка размера заголовка первого уровня в 20pt */
    text-align: center; /* выравнивание заголовка по центру */
}

h2 {
    font-size: 18pt; /* установка размера заголовка второго уровня в 18pt */
    text-align: center; /* выравнивание заголовка по центру */
}

pre {
    white-space: pre-wrap; /* сохраняет переносы строк и пробелы */
    font-family: Arial, sans-serif; /* выберите подходящий шрифт */
    font-size: 14px; /* выберите подходящий размер шрифта */
}

h3 {
    font-size: 16pt; /* установка размера заголовка третьего уровня в 16pt */
}

p {
    font-size: 14pt; /* установка размера обычного текста в 14pt */
}

ol {
    font-size: 16pt; /* установка размера для упорядоченного списка в 16pt */
}

ul {
    font-size: 16pt; /* установка размера для упорядоченного списка в 16pt */
}

li {
    font-size: 14pt; /* установка размера для элементов списка в 14pt */
}
